@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.Icons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.Icons img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.PopUpConteiner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Title {
    font-size: 50px;
    font-family: "Pixelify Sans"
}

/* Popup secundario (único) */
.popupOverlay2 {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 1100; 
}

.popupBox2 {
  background: #111;
  color: white;
  border-radius: 12px;
  padding: 20px;
  max-width: 700px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  text-align: left;
}
.closeBtn2 {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

/* Permite mantener el interlenado */
.popupBox2 p {
  white-space: pre-line;
}
