html, body {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
}



.fondo-imagenes img {
  flex: 1; 
  max-width: 100%;
  height: auto;
  margin-top: -4px;
  padding: 0;
  object-fit: cover; /* Hace que las imágenes llenen bien su espacio */
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}


/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}


  /* BARRA DE OPCIONES */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    position: relative;
  }
  
  nav.active {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav h2.logo {
    font-weight: bold;
    font-size: xx-large;
    color: #ff702a;
    margin-left: 70px;
  }
  
  nav .bars {
    position: absolute;
    right: 1rem;
    font-size: xx-large;
    display: none;
    cursor: pointer;
  }
  
  ul.nav-links {
    display: flex;
  }
  
  nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }
  
  li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
    text-transform: uppercase;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    transition: all 1500ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid #000000;
  }
  
  li.nav-link a:hover {
    color: #000000;
    background-color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #ffffff;
    box-shadow: 4px 5px 17px -4px #000000;
  }
  
  li.nav-link a::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1500ms;
  }
  
  li.nav-link a:hover::before {
    width: 250%;
  }
  
  @media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
  }
  
/* BOTON RESTART */

.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 30px 50px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #4de762;
  --default-btn-color: #fff;
  --font-size: 35px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}


.glitch {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #b60101; /* Color blanco al activarse el glitch */
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  pointer-events: none;
}

.glitch:before {
  animation: glitch-it 0.2s ease-in-out infinite both;
  color: #00fff2;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.2s ease-in-out infinite reverse both;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5px, 5px);
  }
  20% {
    transform: translate(5px, -5px);
  }
  30% {
    transform: translate(-6px, -6px);
  }
  40% {
    transform: translate(4px, 3px);
  }
  50% {
    transform: translate(-6px, 4px);
  }
  60% {
    transform: translate(5px, -4px);
  }
  70% {
    transform: translate(-4px, 3px);
  }
  80% {
    transform: translate(5px, -6px);
  }
  90% {
    transform: translate(-4px, 5px);
  }
  100% {
    transform: translate(0);
  }
}

