@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* ----------------------------- INTERNO ----------------------------- */
/* Eliminamos el margin predeterminado y eliminar el simbolo de scroll */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


html, body {
    width: 100%;
    height: 100%;
    overflow: auto; /* Permitimos el scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE y Edge */
      
  }
  
body::-webkit-scrollbar {
display: none; /* Chrome, Safari y Opera */
}

video {
    display: block;
}


  /* ----------------------------- CONTEINER 2 ----------------------------- */

  .conteiner2 {
    background-color: #e2dcce;
    font-style: normal;
    display: flex;
    flex-direction: row;
    padding-top: 400px;
    padding-bottom: 170px;
  }

  .mini-conteiner2 {
    margin-left: 20%; 
  }
  

  .title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 96px;
    max-width: 600px;
  }

  .min_desc {
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    display: inline-block ; /* Esto permite editar el fondo de backround*/
    padding: 2px 15px;
    text-align: center;
    background-color: #f5426f;
    border-radius: 10px;
    margin-top: 10px;
  }

  .desc {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    max-width: 570px;

    text-align: justify;        /* Esto alinea ambos márgenes */
    text-justify: inter-word;   /* Esto es un modo de justificación más uniforme */
    hyphens: auto;              /* Esto permite guionado automático en navegadores compatibles */
  
    line-height: 1.5;           /* Ayuda a la lectura */
  }
  
  img.io {
    width: 612px; /* o 256px, 384px, depende de cuánto quieras escalar */
    height: auto;
  
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  
    /* Evita que el navegador escale mal */
    image-rendering: pixelated;
    margin-top: -90px;
  }

  img.pared { 
    display: block;
    width: 100%;
    height: 400px;
    margin: 0;
    margin-top: -50px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  
    /* Evita que el navegador escale mal */
    image-rendering: pixelated;
  }
  